@import url(variables.css);
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  height: 100vh;
  width: 100vh;
}
.animation {
  background-color: aquamarine;
  height: 90vh;
}
.header-animation {
  font-size: 60px;
  color:whitesmoke;
  background-color: rgb(34, 155, 118);
  text-align: center;
}