/* @import url(variables.css); */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
  --black: #0000;
  --light-purple: #c7d9ff;
  --light-blue: #948df5;
  --dark-purple: #25086e;
  --dark-blue: #09025f;
  --gray: #252c30;

  /*Intentions*/
  --primary: var(--light-purple);
  --secondary: var(--light-blue);

  /*Typograpy*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.light{
  --primary: var(--light-purple);
  --secondary: var(--light-blue);
}
.dark{
  --primary: var(--dark-purple);
  --secondary: var(--dark-blue);
  color: rgb(170, 228, 255);
}
.storeName{
  background-color: var(--primary);
}
.main{
  background-color: var(--secondary);
  height: 90vh;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}