/* @import url(variables.css); */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
  --black: #0000;
  --light-blue: #c7d9ff;
  --light-purple: #948df5;
  --dark-purple: #25086e;
  --dark-blue: #09025f;
  --gray: #252c30;

  /*Intentions*/
  --primary: var(--light-purple);
  --secondary: var(--light-blue);

  /*Typograpy*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.light{
  --primary: var(--light-blue);
  --secondary: var(--light-purple);
}
.dark{
  --primary: var(--dark-purple);
  --secondary: var(--dark-blue);
  color: rgb(170, 228, 255);
}
.storeName{
  background-color: var(--primary);
}
.main{
  background-color: var(--secondary);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

#theme, #theme:link, #theme:visited {
  text-transform: uppercase;
  text-decoration: overline;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  transition: all 0.2s;
  display: inline;
  background: transparent;
  color: rgb(170, 228, 255);
  margin-top: 15px;
  background-color: var(--primary);
  color: var(--light-purple);
}
#theme:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
  transition-duration: 0.7s;
}

.all, .brands, .flavor {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  margin: 1.5rem;
  font-size: 3.5rem;
  background-color: transparent;
}

.brandbtn, .flavorbtn, .allbtn {
  margin-left: 20px;
  background-color: var(--light-blue);
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

#output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 98.5vw;
  justify-content: space-around;
  align-content: space-around;
}
.menu-card {
  margin-top: 20px;
  border: 10px solid rgba(0, 87, 145, 0.459);
  padding: 6px;
  width: 23%;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 5px 5px #7589ff98;
  background-color: transparent;
}

.menu-item {
  margin-bottom: 10px;
}
.item-price {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.btn {
  color: rgb(164, 148, 255);
  text-decoration: overline;
  font-size: 30px;
  border-color: rgb(164, 148, 255);
  border-width: 3px;
  transition-duration: 1s;
}

.img {
  width: 100%;
  display: block;
}

#addtocart {
  font-size: var(--h5);
  background-color: var(--light-blue);
  color: var(--secondary);
}

.filter {
  margin-right: 10px;
}